body, html {
    height: 100%;
    margin: 0;
}
.register-container {
    height: 100vh;
    display: flex;
}
.left-side {
    width: 50%;
    background: url('/static/images/register.jpg') no-repeat center center;
    background-size: cover;
}
.right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-color: white;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
}
.form-control {
    height: 45px;
}
.btn-toggle {
    width: 48%;
    font-weight: bold;
}
.btn-active {
    background-color: #28a745 !important;
    color: white !important;
}
